# colcon
build/
install/
log/

# pipenv / python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# IDE
.vscode/
.idea/
*.swp
*~

# OS
.DS_Store

# ROS
.ros/

# Bags (do NOT commit big data)
bags/
*.db3
*.sqlite3
*.mcap

