# colcon
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
.pytest_cache/

# venv
.venv/

# OS / editors
.DS_Store
.vscode/
.idea/

# Bags (keep folder but ignore data)
bags/**
!bags/README.md
